.banner {
	padding: 0;
	margin: 0;
}

.banner img , .sentence {
	display: none;
}

 @media (min-width: 721px) {

 }

 @media (min-width: 1025px) {

 	/* Banner */

	.banner img {
		display: block;
		width: 100%;
		position: relative;
	}

	.sentence {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		color: white;
		background: #e0d3c2;
		opacity:0.6;
		line-height: 0.5;
		width: 100%;
		max-width: 1349px;
		text-align: center;
	}

 }