/*

Orenji 
Version: 1.0
Autor: Matias Romero

*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #fff;
	max-width: 1349px;
}
 
 @media (min-width: 721px) {

 }

 @media (min-width: 1025px) {

 	body {
 		margin: auto;
 		max-width: 1349px;
 	}

 }