/* Briefcase */

.briefcase-main {
	background: #e0d3c2;
	padding: 30px 0 30px 0;
	margin: 0;
}

.briefcase {
	width: 100%;
	background: #504d48;
	text-align: center;
}

.briefcase-text-box  {
	display: block;
	width: 100%;
	margin: auto;
	padding: 15px;
}

.briefcase-title {
	font-size: 30px;
	color: #ffba5f;
	font-family: Poppins-BlackItalic;
}

.briefcase-text {
	font-size: 10px;
	color: #e0d3c2;
	font-family: Poppins-Medium;
}

.briefcase-button {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 10px;
}

.briefcase-button a {
	color: #e0d3c2;
	background: #504d48;
	font-family: Poppins-Medium;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	font-size: 10px;
	border: 1px solid #e0d3c2;
}

.briefcase-button a:hover {
	background: #fc5439;
}

@media (min-width: 721px) {

	/* Briefcase */

	.briefcase-main{
		padding: 45px 0 45px 0;
	}

	.briefcase-text-box {
		padding: 20px;
	}

	.briefcase-title {
		font-size: 45px;
	}

	.briefcase-text {
		font-size: 15px;
	}

	.briefcase-button {
		margin-bottom: 15px;
	}

	.briefcase-button a {
		padding: 7px;
		margin: 7px;
		font-size: 15px;
	}

}

@media (min-width: 1025px) {

	/* Briefcase */

	.briefcase-main {
		padding: 60px 0 60px 0;
	}

	.briefcase {
		text-align: right;
	}

	.briefcase-text-box {
		margin: 0;
		width: 48%;
		display: inline-block;
		vertical-align: top;
		padding: 30px;
	}

	.briefcase-title {
		font-size: 60px;
		text-align: center;
	}

	.briefcase-text {
		text-align: center;
	}

	.briefcase-button a {
		padding: 10px;
		margin: 10px;
	}

}