@charset "UTF-8";

@font-face {
  font-family: "office";
  src:url("fonts/office.eot");
  src:url("fonts/office.eot?#iefix") format("embedded-opentype"),
    url("fonts/office.woff") format("woff"),
    url("fonts/office.ttf") format("truetype"),
    url("fonts/office.svg#office") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "office" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "office" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users:before {
  content: "\61";
}
.icon-email:before {
  content: "\62";
}
.icon-linkedin-alt:before {
  content: "\63";
}
.icon-file-pdf-o:before {
  content: "\65";
}
.icon-comments-o:before {
  content: "\64";
}
.icon-clipboard:before {
  content: "\66";
}
.icon-home:before {
  content: "\67";
}
.icon-organization:before {
  content: "\68";
}
.icon-terminal:before {
  content: "\69";
}
.icon-map-streamline-user:before {
  content: "\6a";
}
.icon-list:before {
  content: "\6b";
}
.icon-torsos-male-female:before {
  content: "\6c";
}
