/*
Gris e0d3c2
Negro 504d48
Rojo fc5439 
Naranja ffba5f
*/


/* Horizontal browser */

.horizontal-browser {
	width: 100%;
	text-align: left;
	padding: 0;
	margin: 0;
}

.horizontal-browser ul {
	margin: 0;
	padding: 0;
}

.horizontal-browser ul li {
	list-style: none;
	margin: 0;
	padding: 5px;
	display: inline-block;
}

.horizontal-browser ul li a {
	color: #fc5439;
	font-size: 10px;
	font-family: Poppins-Medium;
}

/* Projects */

.list-of-projects {
	padding: 30px;
	margin: 0;
}

.all-projects {
	width: 100%;
	padding: 0;
	margin: 30px 0 30px 0;
	text-align: center;
}

.project {
	margin: auto;
	margin-bottom: 30px;
	padding: 0;
	width: 100%;
	display: block;
}

.project-info {
	margin: 0;
	display: block;
	background: #e0d3c2;
	padding: 25px 15px 0px 15px;
}

.project-info img {
	width: 100%;
	position: relative;
	height: 200px;
	display: block;
}

div#project-info:hover img#project-img {
	display: none;
}

div#project-info:hover div#project-info-data {
	display: block;
	background: #e0d3c2;
	width: 100%;
	padding: 15px;
	height: 200px;
}

.project-info-data {
	display: none;
}

.project-text-box {
	padding: 10px;
	background: #504d48;
	width: 100%;
}

.project-title {
	font-family: Poppins-Medium;
	color: #e0d3c2;
	font-size: 10px;
	padding: 0;
	padding-left: 5px;
	text-align: left;
}

.project-ico {
	padding: 15px;
}

.project-ico  a {
	color: black;
	margin: 10px;
	padding: 10px;
	font-size: 15px;
	width: 40px;
	height: 40px;
	text-decoration: none;
}

.project-ico  a:hover {
	color: #fc5439;
}

 @media (min-width: 721px) {

 	/* Horizontal browser */

 	.horizontal-browser ul li {
 		padding: 10px;
 	}

 	.horizontal-browser ul li a {
 		font-size: 15px;
 	}

 	/* Projects */

 	.list-of-projects {
 		padding: 50px;
 	}

 	.all-projects {
 		margin: 50px 0 50px 0;
 	}

 	.project {
 		margin-bottom: 60px;
 	}

 	.project-info {
 		padding: 40px 30px 0px 30px;
 	}

	div#project-info:hover div#project-info-data {
 		height: 400px;
 		padding: 30px;	
	}

 	.project-info img {
 		height: 400px;
 	}

 	.project-title {
 		font-size: 15px;
 		padding-left: 10px;
 	}

 	.project-ico {
		padding: 20px;
	}

	.project-ico  a {
		font-size: 30px;
		padding: 14px;
	}


 }

 @media (min-width: 1025px) {

 	/* Horizontal browser */
 	.horizontal-browser {
 		text-align: center;
 	}

 	/* Projects */

	.list-of-projects {
 		padding: 65px;
 	}

 	.project {
	 	margin: 20px;
		padding: 0;
		width: 400px;
		display: inline-block;

 	}

 	div#project-info:hover div#project-info-data {
 		height: 200px;
 		padding: 20px;	
	}

 	.project-info img {
 		height: 200px;
 	}

 	.project-title  {
 		text-align: center;
 	}

 	.project-ico {
		padding: 15px;
	}

 }